.repo {
  position: relative;
  justify-content: space-between;
}


.repo-title {
  padding-bottom: 30px;
}

.repo-description p{
  width: 80%;
  padding-bottom: 7px;
  font-size: 15px;
  text-align: justify;
}

.repo-size {
  padding-bottom: 7px;
}

.repo-back {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.repo-contributors {
  text-align: right;
}
