.repo {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.repo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repo-description p{
  display: flex;
  justify-content: flex-end;
}

.repo-stars {
  font-weight: bold;
}

